body {
  font-family: Raleway, Helvetica, sans-serif;
  background-color: rgba(238, 249, 255, 0.8);
  color: white;
}

h1 {
  font-weight: bold;
  text-decoration: underline;
}

h3 {
  font-weight: bold;
}

/* ~ ~ ~ ~ ~ ~ N A V  B A R  ~ ~ ~ ~ ~ */

.nav-bar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  opacity: 1;
  background-color: white;
  transition: top 0.3s;
}

.nav-bar img {
  height: 50px;
  width: 62px;
}

.navbar-collapse {
  text-align: right;
}

/* ~ ~ ~ ~ ~ ~ H E R O  ~ ~ ~ ~ ~ */

.hero {
  background-image: url("../images/palace-roof.jpg");
  background-color: rgba(128, 87, 211, 0.2);
  background-blend-mode: overlay;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}
.hero-text {
  font-size: 2em;
}

.name {
  font-size: 90px;
}

/* ~ ~ ~ ~ ~ ~ A B O U T  ~ ~ ~ ~ ~ */

.about {
  margin: 50px 0px;
  padding: 50px;
  background-color: rgba(128, 87, 211, 0.2);
  border-radius: 20px;
  box-shadow: -2px 13px 44px -1px #5ac5e0;
}

.about h1 {
  text-align: center;
}

/* ~ ~ ~ ~ ~ ~ S K I L L S  ~ ~ ~ ~ ~ */

.skills {
  background-color: rgba(128, 87, 211, 0.2);
  padding: 50px;
  border-radius: 20px;
  box-shadow: -2px 13px 44px -1px #5ac5e0;
}

.skills h1 {
  text-align: center;
}

.skills h3 {
  text-align: center;
}

.skills img {
  height: 100px;
  width: 100px;
  margin: 25px;
}

/* ~ ~ ~ ~ ~ ~ P R O J E C T S  ~ ~ ~ ~ ~ */
.projects {
  margin: 100px;
  padding: 50px;
  background-color: rgba(128, 87, 211, 0.2);
  border-radius: 20px;
  box-shadow: -2px 13px 44px -1px #5ac5e0;
}

.projects-container img {
  height: 300px;
  width: 400px;
  margin: 30px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  box-shadow: -2px 13px 44px -1px #808080;
  border-radius: 15px;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image-container {
  position: relative;
}
.image-container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
  transition: 0.5s ease;
}

.image:hover {
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 1;
}

.text {
  border-radius: 15px;
  background-color: #7476ee;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

#skills-box {
  padding-top: 70px;
}

#download-button {
  padding: 50px 0px;
}

/* ~ ~ ~ ~ ~ ~ C O N T A C T S  ~ ~ ~ ~ ~ */

form {
  width: 500px;
}

#message {
  height: 10em;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-links img {
  height: 50px;
  width: 50px;
}

.contact-links span {
  font-size: 1em;
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.col-sm img {
  height: 320px;
  width: 480px;
}

.contact {
  background-color: #162731;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: 30px;
}
