body {
    font-family: Helvetica, sans-serif;
    background-color: #79B9E1;
    color: white;
}

html {
    
}

.nav-bar {
    position: fixed;
    width: 100vw;
    opacity: 0.8;
}



.home {
    background-image:
    url("../images/palace-roof.jpg");

    height:100vh;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.about {
    margin: 50px;
    padding: 50px;
   
}

.about h1 {
    text-align: center;
}

.skills {
    background-color: #6FC4F9;
    padding: 50px;
}


.skills h1 {
    text-align: center;
}

.skills h3 {
    text-align: center;
}

.skills img {
    height: 100px;
    width: 100px;
    margin: 25px;
}


.projects {
    margin: 100px;
    padding: 50px;
}

.projects-container img {
    height: 400px;
    width: 400px;
    margin: 30px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
.image-container {
    position: relative;
}

.image:hover {
    opacity: 0.3;
  }

  .image-container:hover .middle {
    opacity: 1;
  }

  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  
form {
    width: 500px;
}

#message {
    height: 10em;
}


.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-links img {
    height: 50px;
    width: 50px;
}

.contact-links span {
    font-size: 1em;
}

.contact-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.col-sm img {
    height: 320px;
    width: 480px;
}

.contact {
    background-color: #162731;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
   margin: 30px;
}